<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div id="signlogin">
            <div id="signinBox">
                <label><b>Sign Up</b></label>
                <br>
                <label>Username</label>
                <input id="signup-email" type="email">
                <label>Password</label>
                <input id="signup-password" type="password">
                <button onclick="signup()">SIGN UP</button>
            </div>
            <div id="loginBox">
                <label><b>Login</b></label>
                <br>
                <label>Username:</label>
                <input id="login-email" type="email">
                <label>Password:</label>
                <input id="login-password" type="password">
                <button onclick="login()">LOGIN</button>
            </div>
        </div>

        
        <div id="portfolio" style="display:none;">



            <folder>
                <h1 id="user">Portfolio Title</h1>
                <p id="biog" style="white-space: pre-wrap;"></p>

                <div id="box1" class="boxes">
                    <p id="box1Text" class="boxTexts">Box 1</p>
                    <ol id="olBox1"></ol>

                </div>
                <div id="box2" class="boxes">
                    <p id="box2Text" class="boxTexts"> Box 2</p>
                    <ol id="olBox2"></ol>

                </div>
                <div id="box3" class="boxes">
                    <p id="box3Text" class="boxTexts">Box 3</p>
                    <ol id="olBox3"></ol>
                </div>
                <div id="box4" class="boxes">
                    <p id="box4Text" class="boxTexts"> Box 4</p>
                    <ol id="olBox4"></ol>
                </div>
                <div id="box5" class="boxes">
                    <p id="box5Text" class="boxTexts"> Box 5</p>
                    <ol id="olBox5"></ol>
                </div>
                <div id="box6" class="boxes">
                    <p id="box6Text" class="boxTexts">Box 6</p>
                    <ol id="olBox6"></ol>
                </div>                         
            </folder>
            
            
            
            <button id="clubsButton" onclick="clubsPop()">Enter club involvement:</button>

            

            <div id="clubsPopUp" class ="pops">
                <button id="clubsCloser" onclick="clubsPopCloser()">X</button>
                <label>What Club are you in:</label>
                <input type="text" id="clubName"><br>
                <label>What role did you have in that club:</label>
                <select id="clubRole">
                    <option id="Member">Member</option>
                    <option id="Coleader">Coleader</option>
                    <option value="Leader">Leader</option>
                    <option value="Emailer">Emailer</option>
                    <option value="Moderator">Moderator</option>
                </select><br>
                <button onclick="clubsInfoAdd(this)">Add to Portfolio</button>
            </div>



            <!-- Change text options-->
            <div id="write" class="pops">
                <button id="nameCloser" onclick="nameCloser()">X</button>
                <div id="writeheadbar">Drag Menu</div>
                <br>
                <div id="writeBody" style="overflow-y:scroll;">
                    <div id="nameMain">
                        <label id="nameLabel">Type your name:</label>
                        <br>
                        <input type="text" id="nameText" placeholder="Name Here" /><br>
                        <button id="nameSub">Submit</button>
                    </div>
                    <br>
                    <br>

                    <div id="biogMain">
                        <label id="biogLabel">Type your Biography:</label> <br>
                        <textarea id="bio" placeholder="Biography Here" rows="8" cols="20"></textarea><br>
                        <button id="biogSub">Change Biography</button>
                    </div>
                </div>



            </div>

            <!--Color settings-->
            <div id="colors" class="pops">

                <div id="colorsheadbar">Drag Menu</div>
                <button id="colorCloser" onclick="colorCloser()">X</button>
                <div id="colorBody" style="overflow-y: scroll;">
                    <div id="changeNameColor">
                        <label>Title color</label>
                        <select id="nameColorDrop" onchange="changeNameColor(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                    </div>

                    <div id="bgColor">
                        <br>
                        <label>Background color</label>
                        <select id="colorDrop" onchange="changeColor(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        </div>

                    <div id="biogColor">
                        <br>
                        <label>Biography color</label>
                        <select id="biogColorDrop" onchange="changeBiogColor(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                    </div>
                    <div>
                        <label>Box1</label>
                        <select onchange="changeBox1Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        <label>Box2</label>
                        <select onchange="changeBox2Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        <label>Box3</label>
                        <select onchange="changeBox3Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        <label>Box4</label>
                        <select onchange="changeBox4Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        <label>Box5</label>
                        <select onchange="changeBox5Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                        <br>
                        <label>Box6</label>
                        <select onchange="changeBox6Color(value)">
                            <option></option>
                            <option value="#dd5555">Red</option>
                            <option value="#dd7733">Orange</option>
                            <option value="#ffee45">Yellow</option>
                            <option value="#aaeeaa">Green</option>
                            <option value="#5555dd">Blue</option>
                            <option value="#aa22dd">Purple</option>
                            <option value="black">Black</option>
                            <option value="white">White</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Change margins-->
            <div id="margin"class="pops">
                <button id="marginCloser" onclick="marginCloser()">X</button>
                <div id="marginheadbar">Drag Menu</div>

                <div id="marginBody" style="overflow-y: scroll;">
                    <div>
                        <button id="titleLeft" value="left" onclick="moveName(value)"><</button>
                        <button id="titleRight" value="right" onclick="moveName(value)">></button>
                        <p>Move Title</p>
                        <button id="titleUp" value="up" onclick="moveName(value)">/\</button>
                        <button id="titleDown" value="bottom" onclick="moveName(value)">\/</button>
                    </div>
                    <br><hr style="border-color: #465846;"><br>
                    <div>
                        <div>
                            <button id="biogLeft" value="left" onclick="moveBiog(value)"><</button>
                            <button id="biogRight" value="right" onclick="moveBiog(value)">></button>
                            <p>Move Biography</p>
                            <button id="biogUp" value="up" onclick="moveBiog(value)">/\</button>
                            <button id="biogDown" value="bottom" onclick="moveBiog(value)">\/</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--TEMPLATES-->
            <div id="templates"class="pops">
                <div id="templatesHeadbar">Drag Menu</div>
                <button id="templatesCloser" onclick="templatesCloser()">X</button>
    

                <div id="templatesBody">
                        <p>Centre</p>
                        <button onclick="centre()">Choose</button><br><br>
                        <!-- ideas: GPA, sports, service hours, projects, clubs -->
                        <label>Change Templates</label><br>
                        <button value="1" onclick="templatesChange(this.value)">
                                ____ . . . ____<br>
                                |___|___|___|<br>
                                |___|___|___|
                        </button>

                        <button value="2" onclick="templatesChange(this.value)">
                                ____________<br>
                                |......|___|___|<br>
                                |......|___|___|<br>
                                |___|___|___|
                        </button>

                        <button value="3" onclick="templatesChange(this.value)">
                                ____ . . . ____<br>
                                |___________|<br>
                                |___|___|___|<br>
                                |___|___|___|
                        </button>

                        <br>
                </div>
            </div>
            
            <div id="boxInfo" class="pops">
                <div id="boxInfoHeadbar">Drag Menu
                    <button id="boxInfoCloser" onclick="boxInfoCloser()">X</button>
                </div>
                <div id="boxInfoLeft">
                    <label>Box 1 category</label>
                    <select id="box1Text" onchange="changeBox1Name(this.value)">
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select>
                    <br>
                    <label>Box 2 category</label>
                    <select id="box2Text" onchange="changeBox2Name(this.value)" >
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select>
                    <br>
                    <label>Box 3 category</label>
                    <select id="box3Text" onchange="changeBox3Name(this.value)">
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select>
                    <br>
                    <label>Box 4 category</label>
                    <select id="box4Text" onchange="changeBox4Name(this.value)">
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select>
                    <br>
                    <label>Box 5 category</label>
                    <select id="box5Text" onchange="changeBox5Name(this.value)">
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select><br>
                    <label>Box 6 category</label>
                    <select id="box6Text" onchange="changeBox6Name(this.value)" >
                        <option>default</option>
                        <option value="GPA">gpa</option>
                        <option value="serviceHours">service hours</option>
                        <option value="Projects">projects</option>
                        <option value="Clubs">clubs</option>
                        <option value="Sports">sports</option>
                    </select>
                </div>
                <div id="boxInfoLeft">
                    
                </div>

            </div>
            

            <!--MAIN MENU BAR-->
            <div id="menu">
                <div id="menuLoadOut">
                    <button id="writeForm" class="menuButtons" onclick="writePop()">Change Text</button>
                    <button id="colorForm" class="menuButtons" onclick="colorsPop()">Change Coloring</button>
                    <button id="marginForm" class="menuButtons" onclick="marginPop()">Change Margins</button>
                    <button id="templatesForm" class="menuButtons" onclick="templatesPop()">Templates</button>
                    <button id="boxInfoForm" class="menuButtons" onclick="boxInfoPop()">Box Info</button>
                </div>
                <button id="menuArrow" onclick="showMenu()">\/</button>
            </div>
        </div>

        <script src="https://www.gstatic.com/firebasejs/10.10.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.10.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/10.10.0/firebase-analytics-compat.js"></script>
        <script src="/static/start.js"></script>
        <script src="/static/middle.js"></script>
    </body>
</html>